.sended {
    border: 5px solid green;
  }
  
.notSended {
    border: transparent;
}

.input-small {
  padding: 5px 0px;
}

.input-medium {
  padding: 10px 0px;
}

.input-large {
  padding: 15px 0px;
}

.font-size-small {
  font-size: 10px;
}

.font-size-medium {
  font-size: 15px;
}

.fint-size-large {
  font-size: 30px;
}
  
input {
  display: block;
  width: 50%;
}
  