.sended {
  border: 5px solid green;
}

.notSended {
  border: transparent;
}

.board {
  display: flex;
}

.board__item {
  flex-grow:1;
}
body {
  background-color: rgb(111, 94, 184);
  color:rgb(223, 226, 212)
}